# Dependencies
node_modules/
__pycache__/

# Build output
.next/
out/
dist/

# Environment variables
.env
.env.local
.env.production

# Database
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
